@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
}

:root {
  --primary-dark: #0033c4;
  --primary-light: #1a55e3;
}
