.homeWrapper {
  padding: 40px 80px;
  display: flex;
  justify-content: center;

  .homeHeading {
    font-family: Rubik;
    font-size: 34px;
    font-weight: 700;
    color: var(--almost-black);
    letter-spacing: 1px;
  }
}
